html,
body {
  padding: 0 !important;
  margin: 0 !important;
}

html {
  font-size: 16px;
  margin: 0 auto;
}

img {
  max-width: 100%
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  max-width: 100%
}

.container.container-768 {
  max-width: 800px;
}

body {
  /* color: #000; */
  font-family: 'KoPubWorld Dotum', 'Roboto', 'Apple SD Gothic Neo', 'Apple SD 산돌고딕 Neo', Helvetica, '맑은 고딕', 'malgun gothic', 'Microsoft NeoGothic', 'Droid sans', sans-serif;
  font-size: 14px;
  line-height: 1.25;
}


a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover,
a:focus {
  color: inherit;
  opacity: 0.7;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none
}

label {
  margin-bottom: 0
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

label {}

label input {
  vertical-align: middle;
}

label span {
  vertical-align: middle;
}

hr {
  border-color: #cccccc;
  margin: 10px 0;
}

$hollys-red : #ba000c;
$hollys-gray: #4f4c4b;

@mixin container() {
  width: 940px;
  margin: 0 auto;
}
